# c06数据加载，存储与文件格式

In [111]:
import numpy as np
import pandas as pd
import sys
import csv
import json
from lxml import objectify
from io import StringIO
import requests
import sqlite3
import sqlalchemy as sqla

In [2]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('examples/ex1.csv')

df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_csv('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
names = ['a', 'b', 'c', 'd', 'message']

pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
!cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [10]:
parsed = pd.read_csv('examples/csv_mindex.csv',
                       index_col=['key1', 'key2'])

parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [11]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [12]:
result = pd.read_csv('examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [13]:
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [14]:
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [15]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [17]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [18]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [19]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [21]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [22]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [23]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [24]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [25]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [26]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [27]:
data.to_csv('examples/out.csv')

In [28]:
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [29]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [30]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [31]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [32]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [33]:
dates = pd.date_range('1/1/2000', periods=7)

ts = pd.Series(np.arange(7), index=dates)

ts.to_csv('examples/tseries.csv', header=False)

!cat examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [34]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [35]:
f = open('examples/ex7.csv')

reader = csv.reader(f)

In [36]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [37]:
with open('examples/ex7.csv') as f1:
    lines = list(csv.reader(f1))
    
header, values = lines[0], lines[1:]

data_dict = {h: v for h, v in zip(header,zip(*values))}

data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [38]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [39]:
#f = open('examples/ex7.csv')

reader = csv.reader(f, dialect=my_dialect)

In [40]:
reader = csv.reader(f, delimiter='|')

In [41]:
with open('mydata.csv', 'w') as f2:
    writer = csv.writer(f2, dialect=my_dialect)
    writer.writerow(('onw', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [42]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [43]:
result = json.loads(obj)

result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [44]:
asjson = json.dumps(result)

asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [45]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

siblings

    name  age
0  Scott   30
1  Katie   38

In [46]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [47]:
data = pd.read_json('examples/example.json')

data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [48]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [49]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [50]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')

len(tables)

1

In [51]:
failures = tables[0]

failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [52]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

In [53]:
path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [54]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [55]:
perf = pd.DataFrame(data)

perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [56]:
tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(StringIO(tag)).getroot()

root

In [57]:
root.get('href')

'http://www.google.com'

In [58]:
root.text

'Google'

In [59]:
#6.2

In [60]:
frame = pd.read_csv('examples/ex1.csv')

frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [61]:
frame.to_pickle('examples/frame_pickle')

In [62]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [70]:

frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [71]:
store['obj1']

           a
0  -0.988452
1  -1.242485
2   0.874260
3  -1.183504
4  -0.837447
5   0.835853
6  -0.821926
7   1.764246
8   0.601695
9   0.020497
10  0.159202
11  1.705783
12  0.610281
13  0.627853
14 -0.621970
15  0.655521
16 -1.091469
17 -0.454858
18 -1.344611
19  0.593214
20  0.720052
21 -0.378343
22  1.394728
23  0.212284
24  3.332621
25 -0.245000
26  1.626165
27  0.620459
28  0.872761
29 -0.825692
..       ...
70  0.932807
71 -1.021305
72  0.731332
73 -0.223013
74  0.024047
75 -1.526478
76 -0.242247
77  0.350265
78  2.324745
79  0.148987
80  0.457994
81  1.746139
82 -0.368445
83 -0.900924
84  1.509474
85 -0.859594
86 -0.071699
87 -0.459368
88  1.335120
89  1.624895
90  0.697426
91 -0.507656
92  0.956999
93  0.238304
94  1.374341
95  0.095286
96 -0.951260
97 -0.213786
98  1.561983
99 -1.411058

[100 rows x 1 columns]

In [72]:
store.put('obj2', frame, format='table')

store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.159202
11  1.705783
12  0.610281
13  0.627853
14 -0.621970
15  0.655521

In [73]:
store.close()

In [75]:
frame.to_hdf('mydata.h5', 'obj3', format='table')

pd.read_hdf('mydata.h5', 'obj3', where=['index<5'])

          a
0 -0.988452
1 -1.242485
2  0.874260
3 -1.183504
4 -0.837447

In [76]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [77]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')

frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [78]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

frame.to_excel(writer, 'Sheet1')

writer.save()

In [79]:
frame.to_excel('examples/ex2.xlsx')

In [ ]:
#6.3

In [90]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [96]:
data = resp.json()
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26381',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26381/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26381/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26381/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/26381',
  'id': 443685600,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjc4NTAwOTcy',
  'number': 26381,
  'title': 'BUG: error calculating BusinessHourMixin.apply for long business hour per day',
  'user': {'login': 'jiangyue12392',
   'id': 35633013,
   'node_id': 'MDQ6VXNlcjM1NjMzMDEz',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/35633013?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jiangyue12392',
   'html_url': 'https://github.com/jiangyue12392',
   'followers_url': 'https://api.github.com/users/jiangyue12392/followers',
   'following_url': 'https://api.github.com/users/jiangyue12392/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jiangyue12392/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jiangyue12392/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jiangyue12392/subscriptions',
   'organizations_url': 'https://api.github.com/users/jiangyue12392/orgs',
   'repos_url': 'https://api.github.com/users/jiangyue12392/repos',
   'events_url': 'https://api.github.com/users/jiangyue12392/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jiangyue12392/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2019-05-14T02:51:55Z',
  'updated_at': '2019-05-14T03:32:21Z',
  'closed_at': None,
  'author_association': 'NONE',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/26381',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/26381',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/26381.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/26381.patch'},
  'body': '- [x] tests added / passed\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26380',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26380/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26380/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26380/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/26380',
  'id': 443659300,
  'node_id': 'MDU6SXNzdWU0NDM2NTkzMDA=',
  'number': 26380,
  'title': "ENH: Implementing NEP 18's __array_function__",
  'user': {'login': 'jakirkham',
   'id': 3019665,
   'node_id': 'MDQ6VXNlcjMwMTk2NjU=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/3019665?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jakirkham',
   'html_url': 'https://github.com/jakirkham',
   'followers_url': 'https://api.github.com/users/jakirkham/followers',
   'following_url': 'https://api.github.com/users/jakirkham/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jakirkham/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jakirkham/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jakirkham/subscriptions',
   'organizations_url': 'https://api.github.com/users/jakirkham/orgs',
   'repos_url': 'https://api.github.com/users/jakirkham/repos',
   'events_url': 'https://api.github.com/users/jakirkham/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jakirkham/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-05-14T00:37:27Z',
  'updated_at': '2019-05-14T00:37:27Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': 'It would be useful to have `__array_function__` support as described in [NEP 18]( https://www.numpy.org/neps/nep-0018-array-function-protocol.html#alternatives ) implemented for Pandas objects. This would allow users to run NumPy functions on Pandas objects while deferring to Pandas on how those operations should run.'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26379',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26379/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26379/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26379/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/26379',
  'id': 443653355,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjc4NDc2NzQ2',
  'number': 26379,
  'title': 'BUG: Series.combine_first with mixed timezones',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False},
   {'id': 13098779,
    'node_id': 'MDU6TGFiZWwxMzA5ODc3OQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Reshaping',
    'name': 'Reshaping',
    'color': '02d7e1',
    'default': False},
   {'id': 60458168,
    'node_id': 'MDU6TGFiZWw2MDQ1ODE2OA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Timezones',
    'name': 'Timezones',
    'color': '5319e7',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/61',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/61',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/61/labels',
   'id': 3759483,
   'node_id': 'MDk6TWlsZXN0b25lMzc1OTQ4Mw==',
   'number': 61,
   'title': '0.25.0',
   'description': '',
   'creator': {'login': 'jreback',
    'id': 953992,
    'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
    'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jreback',
    'html_url': 'https://github.com/jreback',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 66,
   'closed_issues': 676,
   'state': 'open',
   'created_at': '2018-10-23T02:34:15Z',
   'updated_at': '2019-05-14T01:47:14Z',
   'due_on': '2019-06-01T07:00:00Z',
   'closed_at': None},
  'comments': 2,
  'created_at': '2019-05-14T00:06:47Z',
  'updated_at': '2019-05-14T00:47:28Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/26379',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/26379',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/26379.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/26379.patch'},
  'body': '- [x] closes #26283\r\n- [x] tests added / passed\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [x] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26377',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26377/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26377/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26377/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/26377',
  'id': 443580005,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjc4NDE3NTg2',
  'number': 26377,
  'title': 'Fix type annotations in pandas.core.ops',
  'user': {'login': 'gwrome',
   'id': 1430066,
   'node_id': 'MDQ6VXNlcjE0MzAwNjY=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/1430066?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/gwrome',
   'html_url': 'https://github.com/gwrome',
   'followers_url': 'https://api.github.com/users/gwrome/followers',
   'following_url': 'https://api.github.com/users/gwrome/following{/other_user}',
   'gists_url': 'https://api.github.com/users/gwrome/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/gwrome/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/gwrome/subscriptions',
   'organizations_url': 'https://api.github.com/users/gwrome/orgs',
   'repos_url': 'https://api.github.com/users/gwrome/repos',
   'events_url': 'https://api.github.com/users/gwrome/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/gwrome/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 1280988427,
    'node_id': 'MDU6TGFiZWwxMjgwOTg4NDI3',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Typing',
    'name': 'Typing',
    'color': 'ea91a4',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 3,
  'created_at': '2019-05-13T20:12:58Z',
  'updated_at': '2019-05-14T01:38:53Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/26377',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/26377',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/26377.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/26377.patch'},
  'body': 'Part of #25882\r\n- [X] tests passed\r\n- [X] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n\r\nCorrects these errors in `pandas.core.ops`:\r\n```\r\npandas/core/ops.py:632: error: Unsupported target for indexed assignment\r\npandas/core/ops.py:633: error: Value of type "object" is not indexable\r\npandas/core/ops.py:635: error: "object" has no attribute "copy"\r\npandas/core/ops.py:636: error: Unsupported target for indexed assignment\r\npandas/core/ops.py:637: error: Unsupported target for indexed assignment\r\n```\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26376',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26376/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26376/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26376/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/26376',
  'id': 443537817,
  'node_id': 'MDU6SXNzdWU0NDM1Mzc4MTc=',
  'number': 26376,
  'title': 'pd.read_fwf fails with file pointer to url',
  'user': {'login': 'leohaim',
   'id': 7847768,
   'node_id': 'MDQ6VXNlcjc4NDc3Njg=',
   'avatar_url': 'https://avatars3.githubusercontent.com/u/7847768?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/leohaim',
   'html_url': 'https://github.com/leohaim',
   'followers_url': 'https://api.github.com/users/leohaim/followers',
   'following_url': 'https://api.github.com/users/leohaim/following{/other_user}',
   'gists_url': 'https://api.github.com/users/leohaim/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/leohaim/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/leohaim/subscriptions',
   'organizations_url': 'https://api.github.com/users/leohaim/orgs',
   'repos_url': 'https://api.github.com/users/leohaim/repos',
   'events_url': 'https://api.github.com/users/leohaim/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/leohaim/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-05-13T18:23:18Z',
  'updated_at': '2019-05-13T18:23:18Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': '#### Code Sample, a copy-pastable example if possible\r\n\r\n\r\n\r\n```python\r\n# Your code here\r\n\r\nimport urllib.request\r\nimport pandas as pd\r\n\r\nurl=\'ftp://ftp.ncdc.noaa.gov/pub/data/igra/igra2-station-list.txt\'\r\nurllib.request.urlretrieve(url,url.split(\'/\')[-1])\r\nigrainv=pd.read_fwf(url.split(\'/\')[-1],widths=(2,1,3,5,9,10,7,4,30,5,5,7),\r\n                        names=(\'CC\',\'Network\',\'Code\',\'StationId\',\'Latitude\',\'Longitude\',\'Elev\',\'dummy\',\'StationName\',\'From\',\'To\',\'Nrec\'))\r\n\r\nf=urllib.request.urlopen(url)\r\nigrainv=pd.read_fwf(f,widths=(2,1,3,5,9,10,7,4,30,5,5,7),\r\n                        names=(\'CC\',\'Network\',\'Code\',\'StationId\',\'Latitude\',\'Longitude\',\'Elev\',\'dummy\',\'StationName\',\'From\',\'To\',\'Nrec\'))\r\n\r\n```\r\n#### Problem description\r\n\r\nThe first read_fwf from a file downloaded from the internet works, the second read_fwf of the same file using an url pointer fails.\r\nI get the following error:\r\n\r\nTraceback (most recent call last):\r\n  File "<stdin>", line 2, in <module>\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 803, in read_fwf\r\n    return _read(filepath_or_buffer, kwds)\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 429, in _read\r\n    parser = TextFileReader(filepath_or_buffer, **kwds)\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 895, in __init__\r\n    self._make_engine(self.engine)\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 1132, in _make_engine\r\n    self._engine = klass(self.f, **self.options)\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 3605, in __init__\r\n    PythonParser.__init__(self, f, **kwds)\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 2238, in __init__\r\n    self.unnamed_cols) = self._infer_columns()\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 2614, in _infer_columns\r\n    line = self._buffered_line()\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 2689, in _buffered_line\r\n    return self._next_line()\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 2794, in _next_line\r\n    orig_line = self._next_iter_line(row_num=self.pos + 1)\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 2854, in _next_iter_line\r\n    return next(self.data)\r\n  File "/opt/anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py", line 3589, in __next__\r\n    line = next(self.f)\r\nTypeError: \'addinfourl\' object is not an iterator\r\n\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\n[paste the output of ``pd.show_versions()`` here below this line]\r\n>>> pd.show_versions()\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.7.0.final.0\r\npython-bits: 64\r\nOS: Linux\r\nOS-release: 2.6.32-754.10.1.el6.centos.plus.x86_64\r\nmachine: x86_64\r\nprocessor: x86_64\r\nbyteorder: little\r\nLC_ALL: None\r\nLANG: en_US.UTF-8\r\nLOCALE: en_US.UTF-8\r\n\r\npandas: 0.24.2\r\npytest: 4.4.2\r\npip: 19.1.1\r\nsetuptools: 41.0.1\r\nCython: 0.29.7\r\nnumpy: 1.16.3\r\nscipy: 1.2.1\r\npyarrow: None\r\nxarray: 0.12.1\r\nIPython: 7.5.0\r\nsphinx: 2.0.1\r\npatsy: 0.5.1\r\ndateutil: 2.8.0\r\npytz: 2019.1\r\nblosc: None\r\nbottleneck: 1.2.1\r\ntables: 3.5.1\r\nnumexpr: 2.6.9\r\nfeather: None\r\nmatplotlib: 3.0.2\r\nopenpyxl: 2.6.2\r\nxlrd: 1.2.0\r\nxlwt: 1.3.0\r\nxlsxwriter: 1.1.8\r\nlxml.etree: 4.3.3\r\nbs4: 4.7.1\r\nhtml5lib: 1.0.1\r\nsqlalchemy: 1.3.3\r\npymysql: None\r\npsycopg2: 2.7.5 (dt dec pq3 ext lo64)\r\njinja2: 2.10.1\r\ns3fs: None\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: None\r\ngcsfs: None\r\n\r\n</details>\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26374',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26374/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26374/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26374/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/26374',
  'id': 443502895,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjc4MzU2NDE3',
  'number': 26374,
  'title': 'BUG: ngroups and len(groups) do not equal when grouping with a list of Grouper and column label (GH26326)',
  'user': {'login': 'shantanu-gontia',
   'id': 4872525,
   'node_id': 'MDQ6VXNlcjQ4NzI1MjU=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/4872525?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/shantanu-gontia',
   'html_url': 'https://github.com/shantanu-gontia',
   'followers_url': 'https://api.github.com/users/shantanu-gontia/followers',
   'following_url': 'https://api.github.com/users/shantanu-gontia/following{/other_user}',
   'gists_url': 'https://api.github.com/users/shantanu-gontia/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/shantanu-gontia/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/shantanu-gontia/subscriptions',
   'organizations_url': 'https://api.github.com/users/shantanu-gontia/orgs',
   'repos_url': 'https://api.github.com/users/shantanu-gontia/repos',
   'events_url': 'https://api.github.com/users/shantanu-gontia/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/shantanu-gontia/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 233160,
    'node_id': 'MDU6TGFiZWwyMzMxNjA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
    'name': 'Groupby',
    'color': '729FCF',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 4,

In [97]:
data[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26381',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26381/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26381/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/26381/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/26381',
 'id': 443685600,
 'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjc4NTAwOTcy',
 'number': 26381,
 'title': 'BUG: error calculating BusinessHourMixin.apply for long business hour per day',
 'user': {'login': 'jiangyue12392',
  'id': 35633013,
  'node_id': 'MDQ6VXNlcjM1NjMzMDEz',
  'avatar_url': 'https://avatars2.githubusercontent.com/u/35633013?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/jiangyue12392',
  'html_url': 'https://github.com/jiangyue12392',
  'followers_url': 'https://api.github.com/users/jiangyue12392/followers',
  'following_url': 'https://api.github.com/users/jiangyue12392/following{/other_user}',
  'gists_url': 'https://api.github.com/users/jiangyue12392/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/jiangyue12392/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/jiangyue12392/subscriptions',
  'organizations_url': 'https://api.github.com/users/jiangyue12392/orgs',
  'repos_url': 'https://api.github.com/users/jiangyue12392/repos',
  'events_url': 'https://api.github.com/users/jiangyue12392/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/jiangyue12392/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 2,
 'created_at': '2019-05-14T02:51:55Z',
 'updated_at': '2019-05-14T03:32:21Z',
 'closed_at': None,
 'author_association': 'NONE',
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/26381',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/26381',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/26381.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/26381.patch'},
 'body': '- [x] tests added / passed\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`'}

In [ ]:
data[0]['title']

# 'BUG: error calculating BusinessHourMixin.apply for long business hour per day'

In [92]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,26381,BUG: error calculating BusinessHourMixin.apply...,[],open
1,26380,ENH: Implementing NEP 18's __array_function__,[],open
2,26379,BUG: Series.combine_first with mixed timezones,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,26377,Fix type annotations in pandas.core.ops,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
4,26376,pd.read_fwf fails with file pointer to url,[],open
5,26374,BUG: ngroups and len(groups) do not equal when...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
6,26372,Misc Type Annotation fixes,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
7,26370,Feature requests: pandas.DataFrame.quantile wi...,[],open
8,26368,corrwith in 0.24 is much slower than 0.23 (esp...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
9,26367,Pandas import breaks when setting filterwarnings,[],open
10,26366,Fix type annotations for pandas.core.indexes.d...,[],open
11,26362,BUG: DataFrame.join on tz aware index and column,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,26360,New benchmarks for parsing dates with dayfirst...,"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open
13,26359,BUG: groupby.agg returns incorrect results for...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
14,26356,BUG: Exception when frame constructed from dic...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,26355,BUG: Fix MultiIndex DataFrame to_csv() segfault,"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open
16,26354,[ENH] ExtensionArray.argsort places the missin...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
17,26353,Add na_filter documentation to read_excel,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
18,26349,BUG: Instantiating DataFrames using dicts with...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
19,26345,Windows 3.7 CI Failures,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
20,26344,CI: Use bash for Windows scripts on Azure,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
21,26336,Deprecate ordered=None for CategoricalDtype,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
22,26335,Left join on column with timezone aware index ...,"[{'id': 60458168, 'node_id': 'MDU6TGFiZWw2MDQ1...",open
23,26333,REGR: assigning scalar with a length no longer...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
24,26329,FutureWarning difficult to identify source,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
25,26328,Robustness improvement for normalize.py,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
26,26327,Add type hints to dtypes/dtypes.py (Categorica...,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
27,26326,BUG: ngroups and len(groups) do not equal when...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,26321,Bug: Groupby with as_index=True causes incorre...,[],open
29,26320,__or__ (and others?) should return NotImplemen...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open

In [ ]:
#6.4

In [115]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)

In [116]:
con.commit()

In [117]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [118]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [119]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [120]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [121]:
!rm mydata.sqlite